* {
  border: none;
  border-radius: 0;
  font-family: 'JetBrainsMono NF';
  font-size: 10pt;
  min-height: 0;
}

window#waybar {
  background: #1a1b26;
}

#workspaces button {
  padding: 0 8px;
  margin: 2px;
  background: #7aa2f7;
  color: #1a1b26;
  font-weight: bold;
}

#workspaces button.active {
  background: #bb9af7;
}
